#createGrid{
	border			:1px solid black;
	display			:inline;
	float			:left; 
}
#scoreBoard
{
	width			:130px;
	height			:50px;
	background-color:#fff;
	font-family		:Times New Roman;
	float			:left;
	margin-left		:50px;
	border			:1px solid black;
	border-radius	:5px;
	text-align		:center; 
	font-size		:40px; 
	margin-top		:-15px; 
}
.cell
{
	border			:1px solid black;
	height			:20px;
	width			:20px;
	float			:left;
	background-color:green;
}

.clear
{
	clear			:both;                                  /** Die Clear Eingenschaft gibt, auf den Seiten eines Elements, Elemente nicht floaten
															 both: hier beduetet auf beide seiten(links & rechts) nicht floaten**/
}
.statusBody
{
	background-color:#adad85;
}
.statusEmpty
{
	background-color:green;
}
.statusBarrier
{
	background-color:red;
}
.button
{
	float			:right;
}
.statusFood
{
	background-color:blue;
}
.statusWall
{
	background-color:yellow;						    /** es wird niemals gezeigt**/
}
#setting{
	border			:1px solid black;
	border-radius	:5px; 
	background-color:#EEEFF3;
	height			:700px;
	width			:220px;
	float			:right; 
	
}
#height{												/**für input size  **/
	border			:1px solid black;
	border-radius	:5px; 
	height			:40px;
	width			:90px;
	text-align		:center;
	font-size		:15px; 
	margin-left		:6px; 
}
#width{
	border			:1px solid black;
	border-radius	:5px; 
	height			:40px;
	width			:90px;	
	text-align		:center;
	font-size		:15px; 
	margin-left		:6px;
}
#playBtn{
	border			:1px solid black;
	border-radius	:5px; 
	height			:40px;
	width			:210px;
	margin-top		:10px;
	margin-bottom	:80px;
	margin-left		:6px;
	background-color:black;
	color			:white;
	font-size		:20px;
}
#levelBtn{
	border			:1px solid black;
	border-radius	:5px; 
	height			:40px;
	width			:120px;
	margin-left		:6px;
	margin-bottom	:2px; 
	background-color:black;
	color			:white; 
	font-size		:15px;
	
}
#pAndgBtn{
	border			:1px solid black;
	border-radius	:5px; 
	height			:40px; 
	width			:100px;
	margin-top		:20px; 
	float			:left; 
	margin-left		:6px;
	margin-bottom	:30px;	 
	background-color:black;
	color			:white; 
}
p{
	font-size		:20px; 
}
h2{
	margin-left		:5px; 
}
#load{
	float			:left;
	border			:1px solid black;
	border-radius	:5px; 
	height			:40px;
	width			:210px;
	margin-top		:10px; 
	margin-left		:6px;
	background-color:black;
	color			:white;
	font-size		:20px;
}
